<div class="container">
    <h1>CRUD Example</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Id</td>
                <td>Firstname</td>
                <td>Lastname</td>
                <td>Userame</td>
                <td>Password</td>
                <td>Enrollment Date</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
               
                <td>{{user.firstname}}</td>
                <td>{{user.lastname}}</td>
                <td>{{user.userame}}</td>
            
            </tr>
        </tbody>
    </table>
</div>