<div class="container">
    <h1>Update Student</h1>
   
    <a href="#" routerLink="/student/index" class="btn btn-primary">Back</a>
          
    <form [formGroup]="form" (ngSubmit)="submit()">
    
        <div class="form-group">
            <label for="studentId">Student ID</label>
            <input formControlName="studentId" id="studentId" type="text" class="form-control" [(ngModel)]="student.studentId">
            <div *ngIf="f['studentId'].touched && f['studentId'].invalid" class="alert alert-danger" >
                <div *ngIf="f['studentId'].errors && f['studentId'].errors['required']">Student id is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="lastname">Lastname</label>
            <input formControlName="lastname" id="lastname" type="text" class="form-control" [(ngModel)]="student.lastname">
            <div *ngIf="f['lastname'].touched && f['lastname'].invalid" class="alert alert-danger" >
                <div *ngIf="f['lastname'].errors && f['lastname'].errors['required']">Lastname is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="firstname">Firstname</label>
            <input formControlName="firstname" id="firstname" type="text" class="form-control" [(ngModel)]="student.firstname">
            <div *ngIf="f['firstname'].touched && f['firstname'].invalid" class="alert alert-danger" >
                <div *ngIf="f['firstname'].errors && f['firstname'].errors['required']">Firstname is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="course">Course</label>
            <input formControlName="course" id="course" type="text" class="form-control" [(ngModel)]="student.course">
            <div *ngIf="f['course'].touched && f['course'].invalid" class="alert alert-danger" >
                <div *ngIf="f['course'].errors && f['course'].errors['required']">Course is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="dateEnrolled">Date Enrolled</label>
            <input formControlName="dateEnrolled" id="dateEnrolled" type="text" class="form-control" [(ngModel)]="student.dateEnrolled">
            <div *ngIf="f['dateEnrolled'].touched && f['dateEnrolled'].invalid" class="alert alert-danger" >
                <div *ngIf="f['dateEnrolled'].errors && f['dateEnrolled'].errors['required']">Date Enrolled is required.</div>
            </div>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
    </form>
</div>