<div class="container">
    <h1>Create New Student</h1>
    <a href="#" routerLink="/student/index" class="btn btn-primary">Back to List</a>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group">
            <label for="studentId">Student ID</label>
            <input formControlName="studentId" id="studentId" type="text" class="form-control">
            <div *ngIf="f['studentId'].touched && f['studentId'].invalid" class="alert alert-danger">
                <div *ngIf="f['studentId'].errors && f['studentId'].errors['required']">Student ID is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="lastname">Lastname</label>
            <input formControlName="lastname" id="lastname" type="text" class="form-control">
            <div *ngIf="f['lastname'].touched && f['lastname'].invalid" class="alert alert-danger">
                <div *ngIf="f['lastname'].errors && f['lastname'].errors['required']">Lastname is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="firstname">Firstname</label>
            <input formControlName="firstname" id="firstname" type="text" class="form-control">
            <div *ngIf="f['firstname'].touched && f['firstname'].invalid" class="alert alert-danger">
                <div *ngIf="f['firstname'].errors && f['firstname'].errors['required']">Firstname is required.</div>
            </div>
        </div>
        <!--This is the dropdown part-->
        <div class="form-group">
            <label for="courseId">Course</label>
            <select class="form-select" name="courseId" id="courseId" formControlName="courseId">
                <option *ngFor="let course of courses" [value]="course.id">
                    {{course.coursecode}}
                </option>
            </select>
        </div>
        <!--This is the end of the dropdown-->
        <div class="form-group">
            <label for="dateEnrolled">Date Enrolled</label>
            <input formControlName="dateEnrolled" id="dateEnrolled" type="text" class="form-control">
            <div *ngIf="f['dateEnrolled'].touched && f['dateEnrolled'].invalid" class="alert alert-danger">
                <div *ngIf="f['dateEnrolled'].errors && f['dateEnrolled'].errors['required']">Date Enrolled is required.</div>
            </div>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
    </form>
</div>